* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: green;
  margin-bottom: 0.75rem;
}

.test {
  color: green;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: yellow;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: pink;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: maroon;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.justify-center {
  justify-content: center;
}

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 720px) {
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 960px) {
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
.text-primary {
  color: green;
}

.bg-primary {
  background-color: green;
}

.bg-primary-light-2 {
  background-color: #339933;
}

.bg-primary-light-4 {
  background-color: #66b366;
}

.bg-primary-light-6 {
  background-color: #99cc99;
}

.bg-primary-light-8 {
  background-color: #cce6cc;
}

.bg-primary-dark-2 {
  background-color: #006600;
}

.bg-primary-dark-4 {
  background-color: #004d00;
}

.bg-primary-dark-6 {
  background-color: #003300;
}

.bg-primary-dark-8 {
  background-color: #001a00;
}

.text-secondary {
  color: green;
}

.text-hover-secondary:hover {
  color: green;
}

.bg-secondary {
  background-color: green;
}

.text-hover-secondary-light-1:hover {
  color: #1a8d1a;
}

.bg-secondary-light-9 {
  background-color: #e6f2e6;
}

.text-error {
  color: red;
}

.bg-error {
  background-color: red;
}

.text-info {
  color: yellow;
}

.bg-info {
  background-color: yellow;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-gray-light-7 {
  background-color: #d9d9d9;
}

.card {
  display: block;
  padding: 1rem;
  border: 3px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: green;
}
.btn-primary:hover {
  background-color: #009a00;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #fff;
  border: 3px solid green;
}
.btn-outlined-primary:hover {
  background-color: green;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: green;
}
.btn-secondary:hover {
  background-color: #009a00;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #fff;
  border: 3px solid green;
}
.btn-outlined-secondary:hover {
  background-color: green;
}

.btn-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: green;
  color: #ff1aff;
}
.btn-complement-secondary:hover {
  color: green;
  background-color: #ff1aff;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: red;
}
.btn-error:hover {
  background-color: #ff1a1a;
}

.btn-complement-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: red;
  color: #99ffff;
}
.btn-complement-error:hover {
  color: red;
  background-color: #99ffff;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: yellow;
}
.btn-info:hover {
  background-color: #ffff1a;
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #fff;
  border: 3px solid yellow;
}
.btn-outlined-info:hover {
  background-color: yellow;
}

.navbar .container, .navbar-orange .container, .navbar-secondary .container, .navbar, .navbar-orange, .navbar-secondary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-orange, .navbar-secondary {
  padding: 1rem 2rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar .site-title, .navbar-orange .site-title, .navbar-secondary .site-title {
  font-size: 1.5rem;
}

.navbar-secondary {
  background-color: green;
}

.navbar-orange {
  background-color: orange;
}

.badge-orange {
  border-radius: 80px;
  background-color: orange;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.p-0 {
  padding: 0;
}

.pt-3 {
  padding-top: 4rem;
}

.pt-4 {
  padding-top: 6rem;
}

.pb-3 {
  padding-bottom: 4rem;
}

.pb-4 {
  padding-bottom: 6rem;
}

.m-1 {
  margin: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 6rem;
}

.mt-5 {
  margin-top: 8rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 4rem;
}

.mb-4 {
  margin-bottom: 6rem;
}

.br {
  border-radius: 20px;
}

.display-f {
  display: flex;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}